service: session
provider:
  name: aws
  endpointType: REGIONAL
  runtime: nodejs12.x
  profile: privally
  region: sa-east-1
  timeout: 10
  stage: ${opt:stage, 'prod'}
  memorySize: 128
  versionFunctions: false
  apiKeys:
    - ${self:custom.prefix}-apiKey
  package:
    excludeDevDependencies: true
    exclude:
      - .git/**
      - .vscode/**
      - .test/**

  environment: #Global Environment variables
    ${file(./configs/${self:provider.stage}.yml)}

  iamRoleStatements: # Permissions for all of your functions can be set here
    - Effect: Allow
      Action: # Gives permission to DynamoDB tables in a specific region
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: 'arn:aws:dynamodb:*:*:*'

custom:
  region: ${self:provider.region}
  stage: ${opt:stage, self:provider.stage}
  prefix: ${self:service}-${self:custom.stage}
  dynamo-session: table-${self:custom.prefix}
  stageDomainNameApi: api.privally.ws
  authorizer:
    default:
      name: authorizerAsset
      type: token
      identitySource: method.request.header.x-api-key
      resultTtlInSeconds: 0

  documentation:
    api:
      info:
        version: v0.0.1
        title: Privally Session Information
        description: API for Get Information of Session
    models:
      - name: sessionStartRequest
        contentType: application/json
        schema:
          type: 'object'
          properties:
            spvll:
              type: 'string'
            identifier:
              type: 'object'
              properties:
                key:
                  type: 'string'
                value:
                  type: 'string'

  serverlessIfElse:
    - If: '"${self:custom.stage}" == "dev"'
      Set:
        custom.stageDomainNameApi: dev-sandbox.api.privally.ws

    - If: '"${self:custom.stage}" == "sandbox"'
      Set:
        custom.stageDomainNameApi: sandbox.api.privally.ws

    - If: '"${self:custom.stage}" == "prod"'
      Set:
        custom.stageDomainNameApi: api.privally.ws
        custom.certificateName: '*.privally.ws'

  customDomain:
    domainName: ${self:custom.stageDomainNameApi}
    stage: ${self:provider.stage}
    basePath: session
    # certificateName: '*.privally.ws'
    certificateArn: 'arn:aws:acm:sa-east-1:772000878796:certificate/b3aacd15-7859-4022-9e6b-65c967eb9c03'
    createRoute53Record: true
    endpointType: 'regional'
    securityPolicy: tls_1_2
    apiType: rest
    autoDomain: false

plugins:
  - serverless-offline
  - serverless-reqvalidator-plugin
  - serverless-aws-documentation
  - serverless-domain-manager
  - serverless-plugin-ifelse

functions:
  authorizerAsset:
    handler: modules/auth/authorizer.authorizer

  start:
    handler: modules/session/create.create
    memorySize: 128
    timeout: 30
    events:
      - http:
          path: start
          method: post
          cors: true
          authorizer: ${self:custom.authorizer.default}
          documentation:
            summary: Send Information Session to Privally
            description: This endpoint receive session token with identifier field
            requestBody:
              description: Request body for session
            requestModels:
              application/json: 'sessionStartRequest'
          reqValidatorName: onlyBody

  organizationCreate:
    handler: modules/organization/create.create
    memorySize: 128
    timeout: 30
    events:
      - http:
          path: organization
          method: post
          cors: true
          authorizer: ${self:custom.authorizer.default}
          documentation:
            summary: Create a new Organization to Privally
            description: This endpoint save a new organization
            requestBody:
              description: Request body for create a new Organization
            requestModels:
              application/json: 'organizationCreateRequest'
          reqValidatorName: onlyBody


resources:
  Resources:
    onlyBody:
      Type: 'AWS::ApiGateway::RequestValidator'
      Properties:
        Name: 'only-body'
        RestApiId:
          Ref: ApiGatewayRestApi
        ValidateRequestBody: true
        ValidateRequestParameters: true

    sessionTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.dynamo-session}
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: SK-PK-index
            KeySchema:
              - AttributeName: SK
                KeyType: HASH
              - AttributeName: PK
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
