service: session
provider:
  name: aws
  endpointType: REGIONAL
  runtime: nodejs12.x
  # profile: privally
  region: sa-east-1
  timeout: 10
  stage: ${opt:stage, 'prod'}
  memorySize: 128
  versionFunctions: false
  apiKeys:
    - ${self:custom.prefix}-apiKey
  package:
    excludeDevDependencies: true
    exclude:
      - .git/**
      - .vscode/**
      - .test/**

  environment: #Global Environment variables
    ${file(./configs/${self:provider.stage}.yml)}

  iamRoleStatements: # Permissions for all of your functions can be set here
    - Effect: Allow
      Action: # Gives permission to DynamoDB tables in a specific region
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: 'arn:aws:dynamodb:*:*:*'

custom:
  region: ${self:provider.region}
  stage: ${opt:stage, self:provider.stage}
  prefix: ${self:service}-${self:custom.stage}
  dynamo-session: table-${self:custom.prefix}
  stageDomainNameApi: api.privally.ws

  documentation:
    api:
      info:
        version: v0.0.1
        title: Privally Session Information
        description: API for Get Information of Session
    models:
      - name: sessionStartRequest
        contentType: application/json
        schema:
          type: 'object'
          properties:
            spvll:
              type: 'string'
            identifier:
              type: 'object'
              properties:
                key:
                  type: 'string'
                value:
                  type: 'string'
      - name: sessionEndRequest
        contentType: application/json
        schema:
          type: 'object'
          properties:
            spvll:
              type: 'string'             

  serverlessIfElse:
    - If: '"${self:custom.stage}" == "dev"'
      Set:
        custom.stageDomainNameApi: dev.api.privally.ws
        certificateArn: 'arn:aws:acm:sa-east-1:772000878796:certificate/0dfc4a90-633b-485c-a54c-41b16889b283'

    - If: '"${self:custom.stage}" == "sandbox"'
      Set:
        custom.stageDomainNameApi: sandbox.api.privally.ws
        certificateArn: 'arn:aws:acm:sa-east-1:772000878796:certificate/0dfc4a90-633b-485c-a54c-41b16889b283'

    - If: '"${self:custom.stage}" == "prod"'
      Set:
        custom.stageDomainNameApi: api.privally.ws
        custom.certificateName: '*.privally.ws'

  customDomain:
    domainName: ${self:custom.stageDomainNameApi}
    stage: ${self:provider.stage}
    basePath: session
    # certificateName: '*.api.privally.ws'
    certificateArn: 'arn:aws:acm:sa-east-1:772000878796:certificate/0dfc4a90-633b-485c-a54c-41b16889b283'
    createRoute53Record: true
    endpointType: 'regional'
    securityPolicy: tls_1_2
    apiType: rest
    autoDomain: false

plugins:
  - serverless-offline
  - serverless-reqvalidator-plugin
  - serverless-aws-documentation
  - serverless-domain-manager
  - serverless-plugin-ifelse

functions:
  start:
    handler: modules/session/endpoints/create.create
    memorySize: 128
    timeout: 30
    events:
      - http:
          path: start
          method: post
          private: true
          cors: true
          documentation:
            summary: Send Information Session to Privally
            description: This endpoint receive session token with identifier field
            requestBody:
              description: Request body for session
            requestModels:
              application/json: 'sessionStartRequest'
          reqValidatorName: onlyBody

  end:
    handler: modules/session/endpoints/end.end
    memorySize: 128
    timeout: 30
    events:
      - http:
          path: end
          method: post
          private: true
          cors: true
          documentation:
            summary: End Session to Privally
            description: This endpoint receive session token to ended
            requestBody:
              description: Request body for end session
            requestModels:
              application/json: 'sessionEndRequest'              
          reqValidatorName: onlyBody

resources:
  Resources:
    onlyBody:
      Type: 'AWS::ApiGateway::RequestValidator'
      Properties:
        Name: 'only-body'
        RestApiId:
          Ref: ApiGatewayRestApi
        ValidateRequestBody: true
        ValidateRequestParameters: true

    sessionTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.dynamo-session}
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: sk-pk-index
            KeySchema:
              - AttributeName: sk
                KeyType: HASH
              - AttributeName: pk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
